body {
  position: fixed;
}

.board-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.cell {
  /* background-color: grey; */
  border: solid 1px white;
  padding: 0.5rem;
  margin: 0.5rem;
}

.highlight {
  background-color: red;
}

.snake {
  background-color: green;
}
