* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.row {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.row p {
  background-color: grey;
  border: 1px solid white;
  height: 100px;
  width: 100px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
