main {
  width: 80%;
  margin: auto;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.dispense {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.dispense button {
  padding: 1.3rem;
}

.game-board {
  display: flex;
  flex-direction: row;
}

.game-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.game-cell {
  height: 40px;
  width: 40px;
  padding: 1rem;
  border: solid 1px black;
}

.piece-red {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: red;
}

.piece-yellow {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: yellow;
}
