* {
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
}

h3 {
  font-size: 2rem;
  padding: 2rem;
}

input {
  /* width: 10rem; */
  padding: 0.5rem 5rem;
  font-size: 2rem;
  text-align: center;
}

.search-container {
  width: 32rem;
  margin: auto;
}

.item-container {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-container p {
  font-size: 20px;
}

.item-container:hover {
  background-color: rgb(222, 222, 222);
  cursor: pointer;
}

.my-item-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-row {
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  font-size: 25px;
}
